<%- include('Layout/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <% if(data!=""){ %>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <% data.forEach((row,index)=>{ %>                    
                                        <tr>
                                            <td><%= row.title %></td>
                                            <td><%= row.description %></td>
                                            <td><img src="<%= row.image %>" alt="" style="width:50%; height:20%"></td>
                                            <td>
                                                <a href="/edit/<%= row._id %>">edit</a>
                                                <form action="/delete/<%= row._id %>?_method=delete" method="post">
                                                    <button>Delete</button>
                                                </form>
                                                <a href="/<%= row._id %>">view</a>
                                            </td>
                                        </tr>
                          <%  }) %>
                        </tbody>
                    </table>
                <% } else{ %>
                        <h1>No Data</h1>
                    <% } %>
                
            </div>
        </div>
    </div>
</div>

<%- include('Layout/footer') %>