<%- include('Layout/navbar') %>
<style>
    input{
        margin: 5px;
    }
    .addForm
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
</style>
<div class="container">
    <h2><%= data.title %></h2>
    <div>
        <div class="addForm">
            
                <img src="/<%= data.image %>" >
                
                <p><%= data.description %></p>
                
        </div>
    </div>
</div>

<%- include('Layout/footer') %>